.members {
  margin: 100px auto;
  width: 75%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 80px;
  grid-column-gap: 40px;
}

.members * {
  text-align: center;
}

.member {
  cursor: pointer;
  transition: transform ease-out 0.2s;
  width: 100%;
}

.member:hover {
  transform: translateY(-7px);
}

.member img {
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 4px #8a8a8a;
}

.member-name {
  margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
  .members {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
  }

  .member-name {
    font-size: 1.5rem;
  }

  .member-position {
    font-size: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .member-name {
    font-size: 1.3rem;
  }

  .member-position {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 600px) {
  .members {
    margin: 60px auto;
    grid-template-columns: repeat(2, 1fr);
  }

  .member-name {
    font-size: 1.15rem;
  }

  .member-position {
    font-size: 0.8rem;
  }
}
